version: "3.9"
   
services:
  db:
    image: postgres:14
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=companie
      - POSTGRES_USER=vera
      - POSTGRES_PASSWORD=1234
      - POSTGRES_HOST=db
    ports:
      - 5432:5432
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/itechart_project
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_DB=companie
      - POSTGRES_USER=vera
      - POSTGRES_PASSWORD=1234
      - POSTGRES_HOST=db
    depends_on:
      - db
    links:
      - db:db

  nginx:
    build: 
      context: nginx
    container_name: nginx
    links:
      - uwsgi
    volumes_from:
      - uwsgi
    ports:
      - "8080:8080"

  uwsgi:
    build: 
      context: .
    container_name: uwsgi
    volumes:
      - /nginx:/conf
      - .:/itechart_project
    expose:
      - "8001"

